<%= form_with(model: article_location, local: true) do |form| %>
  <% if article_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_location.errors.count, "error") %> prohibited this article_location from being saved:</h2>

      <ul>
      <% article_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Article (#{article_location.article_id})" %>
    <%= article_location.article.title %>
  </div>
  
  <div class="field">
    <%= form.label "Location (#{article_location.location_id})" %>
    <%= link_to article_location.location.name, article_location.location %>
  </div>

  <div class="field">
        <%= form.label :comment %>
        <%= form.text_area :comment %>
  </div>
  
  <div class="field">
      <%= form.label :flagged %>
      <%= form.check_box :flagged %>
  </div>
  
  <div class="field">
  <%= form.collection_select :flag_id, Flag.order(:reason), :id, :detail, include_blank: "Select Reason" %>
  </div>
      
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
